.form-container
    display: flex
    margin: 100px
    justify-content: center

    @keyframes buttonColorChanged
        0% 
            opacity: 0.2
        100% 
            opacity: 1

    .register-form
        border: 2px solid #4158D0
        border-radius: 10px
        padding: 10px
        display: flex
        flex-direction: column

        label
            margin: 5px 10px 5px 10px
            color: #4158D0
            font-weight: bold
            font-size: 20px

        .input
            border-radius: 5px
            border-width: 0px
            box-shadow: inset 0px 0px 0px 1px #4158D0
            padding: 5px 10px 5px 10px
            margin: 5px 10px 0px 10px
            color: #4158D0
            &:focus
                @extend .input
                outline: none
                box-shadow: inset 0px 0px 2px 2px #4158D0
        
        .button
            border-radius: 5px
            border-width: 0px
            padding: 5px 10px 5px 10px
            margin: 15px 10px 5px 10px
            background-color: #4158D0
            color: white
            &:hover
                cursor: pointer
                background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)
                animation: 0.5s ease-out buttonColorChanged

        small
            margin: 0px 10px 0px 10px
            font-size: 10px
            color: red
        
        .hidden-things
            opacity: 0