<div class="form-container">
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form *ngIf="!isLoading" class="register-form" (ngSubmit)="onRegister()">
    <label for="">Register now!</label>
    <input
      (input)="onValidateName($event)"
      [(ngModel)]="name"
      type="text"
      name="name"
      placeholder="Enter your name"
      class="input"
    />
    <small class="hidden-things">name</small>
    <input
      (input)="onValidateEmail($event)"
      [(ngModel)]="email"
      type="email"
      name="email"
      placeholder="Enter your email"
      class="input"
    />
    <small [ngStyle]="{ opacity: isEmailWrong ? '1' : '0' }">{{
      emailVal
    }}</small>
    <input
      (input)="onValidatePassword($event)"
      [(ngModel)]="password"
      type="password"
      name="password"
      placeholder="Enter a new password"
      class="input"
    />
    <small [ngStyle]="{ opacity: isPasswordWrong ? '1' : '0' }">{{
      passwordVal
    }}</small>
    <input
      [ngStyle]="{
        opacity: nameCheck && emailCheck && passwordCheck ? '1' : '0.5'
      }"
      [disabled]="!nameCheck || !emailCheck || !passwordCheck"
      type="submit"
      value="REGISTER"
      class="button"
    />
  </form>
</div>
