<div class="nav">
  <div class="nav-items">
    <div class="left-nav">
      <h2 class="left-item">Learn Sass</h2>
    </div>
    <div class="right-nav">
      <div>
        <ul *ngIf="isOpened">
          <li>Features</li>
          <li>Pricings</li>
          <li
            *ngIf="!isAuthenticated"
            [ngStyle]="{ display: token !== null ? 'none' : 'block' }"
          >
            Login
          </li>
          <li
            *ngIf="!isAuthenticated"
            [ngStyle]="{ display: token !== null ? 'none' : 'block' }"
            routerLink="/register"
          >
            Register
          </li>
          <li *ngIf="isAuthenticated" (click)="onLogout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
  <svg
    *ngIf="!isOpened"
    (click)="navToggle()"
    class="menu-icon"
    xmlns="http://www.w3.org/2000/svg"
    width="30px"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg>
  <svg
    *ngIf="isOpened"
    (click)="navToggle()"
    xmlns="http://www.w3.org/2000/svg"
    class="menu-icon"
    width="30px"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"
    />
  </svg>
</div>
