@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap")
$small: 500px
$medium: 900px

*, html
    margin: 0
    padding: 0
    font-family: "Poppins", sans-serif

.nav
    display: block
    align-items: center
    justify-content: space-between
    background-color: #4158D0
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)
    color: white
    @media screen and (max-width: $medium)
        display: flex
        align-items: flex-start

    @keyframes dropDown
        0% 
            transform: translateY(-20%)
            opacity: 0.2
        100% 
            transform: translateY(0)
            opacity: 1

    @keyframes appear
        0% 
            opacity: 0.2
        100% 
            opacity: 1

    @keyframes iconRotate
        0% 
            transform: rotate(-60deg)
        100% 
            transform: translateY(0deg)
       
    h2
        padding: 20px
        cursor: pointer

    ul
        display: flex
        animation: 1s ease-out dropDown
        @media screen and (max-width: $medium)
            display: block

        li
            list-style-type: none
            padding: 20px 
            cursor: pointer
            &:hover
                color: black
                animation: 3s ease-out appear

    .nav-items
        display: flex
        align-items: center
        justify-content: space-between
        @media screen and (max-width: $medium)
            display: block
            
    .menu-icon
        padding: 20px
        display: none
        cursor: pointer
        animation: 1s ease-out iconRotate
        @media screen and (max-width: $medium)
            display: block
        